.TaskTickets {
  height: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  grid-gap: 1px;
  align-items: center;
}

.ToAdmin {
  position: absolute;
  width: 1.1cm;
  height: 1.1cm;
  font-size: 1.1em;
  line-height: 1.1cm;
  text-align: center;
}

.Admin {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 14pt;
}

.Admin td, .Admin th {
  border-top: 1px solid #333;
  text-align: center;
}

.Admin input, .Admin textarea {
  width: 100%;
}

.Admin textarea {
  height: 100%;
  min-width: 10em;
}

.Admin input[type=checkbox] {
  font-size: 1cm;
}

.People {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.People > .Person {
  flex-grow: 1;
  max-height: calc((100% - 4rem) / 3);
}

.Person {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: flex-end;
  padding-right: 2em;
  font-size: 4em;
  background-color: rgba(100%,100%,100%, 0.1);
  box-shadow: inset 0 0 0.3em 0.3em #222;
}

.SelectedPerson {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  padding: 0 1em;
  display: grid;
  grid:
    "header back" auto
    "tasks tasks" 1fr
    / 1fr auto;
}
.SelectedPerson > h1 { grid-area: header; }
.SelectedPerson > .Back { grid-area: back; }
.SelectedPerson > .Tasks { grid-area: tasks; }

.SelectedPerson > .Back {
  width: 1.1cm;
  height: 1.1cm;
  font-size: 1.1em;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 0.5cm;
}

.SelectedPerson > .Tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Task, .SpendTicket {
  padding: 0.5em 1em;
  box-shadow: inset 0 0 0.6em 0.6em #222;
}
.Task {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsla(0deg, 0%, 50%, 0.2);
}
.SpendTicket {
  background-color: hsla(0deg, 100%, 50%, 0.2);
}
